/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #54b689;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --bio-border-color: #393544;
    --about-bg-color:#111821;
}

/* General */
.highlight {
    color: var(--main-color);
}

/* Containers */
#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    flex: 1 1 80;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;
}

/* Bio container */
#bio-container h2 {
    margin-bottom: 25px;
}

#bio-container p {
    margin-bottom: 20px;
}

#bio-container #welcome-text {
    font-weight: bold;
}

#bio-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#social-container li {
    flex: 1 1 0;
    max-width: 60px;
}

#social-container li a {
  color: var(--main-color);
  font-size: 30px;
}

#mail-container {
    display: flex;
    justify-content: center;
}

#mail-container ion-icon,
#mail-container a {
    flex: 1 1 0;
}

#mail-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 225px;
}

#mail-container ion-icon {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 5px;
    max-width: 20px;
}